*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #dadada;
  font-size: 20px;
}
.container{
  margin: 20px auto;
  width: 90%;
}
div {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

img{
  width: 600px;
  height: 400px;
}

.leftcolumn{
  float:left;
  width: 25% auto;
}

.rightcolumn{
  float: right;
  width: 25% auto;
}
/* code for two coloumn design*/
@media screen and (min-width: 575px) {
  div{
    margin: 1%;
    width:48%;
  }
  .rightcolumn{
    width: 25%;
  }
  .leftcolumn{
    width: 25%;
  }
}

/* code for four coloumn design*/
@media screen and (min-width: 991px) {
  div{
    margin: 1%;
    width:48%;
  }
  .rightcolumn{
    width: 100%;
  }
  .leftcolumn{
    width: 100%;
  }
}
